html {
  background-image: linear-gradient(
    rgba(255, 0, 0, 0.5),
    rgba(255, 255, 0, 0.5),
    rgba(0, 128, 0, 0.5),
    rgba(0, 0, 255, 0.5),
    rgba(76, 0, 130, 0.5),
    rgba(238, 130, 238, 0.5),
    rgba(255, 192, 203)
  );
}

body {
  background-color: rgba(255, 255, 255, 0.76);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 800px;
  border-radius: 25px;
  padding: 25px 150px 50px;
  font-size: large;
  margin: 25px auto;

  line-height: 1.5;
  text-align: center;
}

canvas {
  border: 1px solid grey;
}

p {
  font-size: 14px;
  text-align: left;
}

button {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  border-radius: 12px;
  transition-duration: 0.4s;
}
button:hover {
  background-color: rgba(158, 75, 75, 0.466);
  color: white;
}
